* {
    font-family: sans-serif;
}

.head {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/Background.jpg");
    background-position: center;
    background-size: cover;
    background-size: 100% 100%;
}

.head-items {

    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.logo {
    margin-left: 100px;
    margin-top: 10px;
    max-height: 80px;
    max-width: 100%;
}

.navigation {
    margin-left: auto;
    padding-left: 2.2vw;
    padding-right: 100px;
}

.nav {
    padding: 0.1em;
    text-decoration: none;
    margin-left: 2.2vw;
    font-weight: 700;
    color: white;
}

.home {
    border-bottom: 2px solid white;

}

.apply-btn {
    padding: 13px 22px;
    background-color: #00DD00;
    border-radius: 5px;

    text-decoration: none;
    color: white;

}
.head-content {
    color: white;
    margin-top: 48px;
    padding-top: 200px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 300px;
}

.head-content h1 {
    padding-top: 1rem;
    font-size: 3.5em;
    margin: 0px;
}

.head-content h2 {
    font-size: 2.5em;
    margin: 0px;
    padding-bottom: 1rem;
}

.se-p {
    font-size: 1.5em;
    margin: 1rem 0;
    line-height: 1.4;
    max-width: 550px;
    padding-bottom: 2rem;
}

.learn {
    padding: 13px 22px;
}
.nav-link{
    color: white;
    
}
.stat-det {
    padding: 50px 230px;
    margin-bottom: 100px;
}

.stat-num {

    margin: 0;
    padding-bottom: 30px;
    text-align: center;
    font-size: 3.5em;
    color: #00DD00;
}

.stat-txt {
    text-align: center;
    font-size: 1.5em;
    font-weight: bolder;
}

.stat-det hr {
    width: 15px;
    padding-bottom: 2px;
    background-color: black
}


.stat-img-para {
    margin-top: 100px;
    padding: 0px 150px;
}

.stat-img {
    max-width: 633px;
    padding-bottom: 50px;
    padding-left: 0px;
}

.stat-para p,
.stat-para a {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 100px;
}

.stat-para h1 {
    padding-left: 40px;
}

.stat-para p {
    font-size: 1.5rem;
}

.get {
    font-weight: 500;
    font-size: 2.5rem;
    padding-bottom: 0px;
    margin: 0;
}

.comp {
    margin: 0;
    padding-top: 0px;
    font-weight: 700;
    font-size: 2.5rem;
}

.learn-arr {
    font-size: 1.3rem;
    color: #00DD00;
}
.section3 {
    padding-top: 0px;
    margin: 0;
    background-color: #00DD00;
}

.section3-title {
    line-height: 1.2;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;

}

.section3-title h1 {

    padding-bottom: 0px;
    margin: 0;
}

.dis {
    font-size: 3rem;
    font-weight: lighter;
}

.that {
    font-size: 2.5rem;
    font-weight: bold;
}

.offers-imgs {
    padding-bottom: 100px;

}

.learnmore1 {
    
    padding: 0px;
    padding-top: 30px;
}

.learnmore2 {
    margin-left: 40px;
    padding: 0px;
    padding-top: 30px;
}


.stat-img-para-1 {
    margin-top: 100px;
    margin-bottom: 100px;
}
.stat-img-1 {
    max-width: 633px;
    padding-bottom: 50px;
    
}
.stat-img-para-1 .col-md-6{
    padding-left: 100px;
}
#stat-para{
    padding-left: 0px;
}
.join {
    text-align: center;
    margin-left: 330px;
    margin-right: 330px;
    font-size: 2rem;
    font-weight: lighter;
}

.join span {
    font-weight: bold;
}

.companies {
    font-size: 1.2rem;
    font-weight: lighter;
}

.partner-logos {
    max-width: 1300px;
    margin-left: 100px;
}

.quote {
    margin-left: 350px;
    padding-top: 50px;
    max-width: 850px;
    max-height: 330px;
}
.section5 {
    background-color: #E6E6E6;
}

.sec-titles {
    padding-top: 50px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.media-imgs {
    padding-bottom: 70px;
    
}

.media-imgs-items {
    margin-top: 70px;
    max-width: 350px;
    max-height: 90px;
}

